<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head_css_set">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ninodezign.com, ninodezign@gmail.com">
    <meta name="copyright" content="ninodezign.com">

    <!-- favicon -->
    <link rel="shortcut icon" href="${pageContext.request.contextPath }/resources/images/ico/favicon.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="${pageContext.request.contextPath }/resources/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="${pageContext.request.contextPath }/resources/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
        href="${pageContext.request.contextPath }/resources/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed"
        href="${pageContext.request.contextPath }/resources/images/ico/apple-touch-icon-57-precomposed.png">

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css" th:href="@{css/materialdesignicons.min.css}"/>
    <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.min.css" th:href="@{css/jquery.mCustomScrollbar.min.css}"/>
    <link rel="stylesheet" type="text/css" href="css/prettyPhoto.css" th:href="@{css/prettyPhoto.css}"/>
    <link rel="stylesheet" type="text/css" href="css/unslider.css" th:href="@{css/unslider.css}"/>
    <link rel="stylesheet" type="text/css" href="css/template.css" th:href="@{css/template.css}"/>

    <title>Together</title>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
</html>
