<!-- Footer
    ================================================== -->
<footer id="footer" th:fragment="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="colInfo">
					<div class="footerLogo">
						<a href="#">Together</a>
					</div>
					<p>강남점 : 서울특별시 강남구 강남대로 396, TEL: 010-0000-0000
						<br>안양점 : 경기 안양시 만안구 만안로 232, TEL: 010-0000-0000
						<br>해운대점 : 부산광역시 해운대구 해운대로 626, TEL: 010-0000-0000
					</p>
				</div>
			</div>


		</div>
		<div class="nino-copyright">Copyright &copy; 2021. All Rights Reserved. <br /> MoGo free PSD template by
			 <a th:href="@{https://www.behance.net/laaqiq}">Laaqiq</a>
		</div>
	</div>

	<!-- Scroll to top
    ================================================== -->
	<a href="#" id="nino-scrollToTop">Go to Top</a>


	<!-- javascript -->
	<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{js/isotope.pkgd.min.js}"></script>
	<script type="text/javascript" th:src="@{js/jquery.prettyPhoto.js}"></script>
	<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{js/jquery.hoverdir.js}"></script>
	<script type="text/javascript"
	th:src="@{js/modernizr.custom.97074.js}"></script>
	<script type="text/javascript"
	th:src="@{js/jquery.mCustomScrollbar.concat.min.js}"></script>
	<script type="text/javascript" th:src="@{js/unslider-min.js}"></script>
	<script type="text/javascript" th:src="@{js/template.js}"></script>
	<script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@10}"></script>

	<script>
		$(document).ready(function () {
			$('#a_logout').click(function () {
				Swal.fire({
					title: '로그아웃 하시겠습니까?',
					icon: 'question',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: '확인',
					cancelButtonText: '취소'
				}).then((result) => {
					if (result.isConfirmed) {
						alert("로그아웃 되었습니다.");
						location.href = "/Member/logout";
					} else {
						return;
					}
				})
			});
		});
	</script>

</footer>
<!--/#footer-->