<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<!-- Header
    ================================================== -->
<header id="nino-header" th:fragment="header">
	<div id="nino-headerInner">
		<nav id="nino-navbar" class="navbar navbar-default" role="navigation">
			<div class="container">

				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
						data-target="#nino-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Together</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="nino-menuItem pull-right">
					<div class="collapse navbar-collapse pull-left" id="nino-navbar-collapse">
						<ul class="nav navbar-nav">
							<li class=""><a href="#">홈<span class="sr-only">(current)</span></a></li>
							<li><a href="#">입양공고</a></li>
							<li><a href="#">후기게시판</a></li>
							<li><a href="#">입소신청</a></li>
							<li><a href="#">후원하기</a></li>

							<!--								&lt;!&ndash;  로그인 이전 &ndash;&gt;-->
							<!--								<c:if test="${empty sessionScope.id}">-->
							<!--								<li><a href="${pageContext.request.contextPath}/Member/loginForm">로그인/회원가입</a></li>-->
							<!--								</c:if>-->
							<!--								-->
							<!--								&lt;!&ndash; 로그인 한 경우 &ndash;&gt;-->
							<!--								<c:if test="${not empty sessionScope.id}">-->
							<!--								-->
							<!--								&lt;!&ndash; 관리자의 경우 &ndash;&gt;-->
							<!--								<c:if test="${sessionScope.type==2}">-->
							<!--								<li class="nav-item dropdown">-->
							<!--								        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="background-color:transparent;">관리자페이지<span class="caret"></span></a>-->
							<!--									        <ul class="dropdown-menu">-->
							<!--									        -->
							<!--									          <li><a class="dropdown-item" href="/Member/MyPage">관리자페이지 - 홈</a></li>-->
							<!--									        -->
							<!--									          <li class="dropdown-header">내 정보</li>-->
							<!--									          <li><a id="a_logout" class="dropdown-item" href="#">로그아웃</a></li>-->
							<!--									          <li><a class="dropdown-item" href="${pageContext.request.contextPath }/Member/editForm">내 정보수정</a></li>-->
							<!--									       -->
							<!--									          <li class="dropdown-header">입소/입양 신청 관리</li>-->
							<!--									          <li><a class="dropdown-item" href="/Adopt/AdoptWishList">입양 신청 리스트</a></li>-->
							<!--									          <li><a class="dropdown-item" href="${pageContext.request.contextPath}/AddPet/PetAllList">입소 신청 리스트</a></li>-->
							<!--									          -->
							<!--									           <li class="dropdown-header">고객 센터</li>-->
							<!--									           <li><a class="dropdown-item" href="#">전체 회원 관리</a></li>-->
							<!--									          <li><a class="dropdown-item" href="/Ask/AskList">1:1 문의 답변</a></li>-->
							<!--									        </ul>-->
							<!--								    </li>-->
							<!--								    </c:if>-->
							<!--								    -->
							<!--								    &lt;!&ndash; 고객의 경우 &ndash;&gt;-->
							<!--								    <c:if test="${sessionScope.type==1}">-->
							<!--									<li class="nav-item dropdown">-->
							<!--								        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="background-color:transparent;">마이페이지<span class="caret"></span></a>-->
							<!--									        <ul class="dropdown-menu">-->
							<!--									          <li><a class="dropdown-item" href="/Member/MyPage">마이페이지 - 홈</a></li>-->
							<!--									          -->
							<!--									          <li class="dropdown-header">내 정보</li>-->
							<!--									          <li><a id="a_logout" class="dropdown-item" href="#">로그아웃</a></li>-->
							<!--									          <li><a class="dropdown-item" href="${pageContext.request.contextPath }/Member/editForm">내 정보수정</a></li>-->
							<!--									          <li><a class="dropdown-item" href="${pageContext.request.contextPath }/like/likeList">관심친구 목록</a></li>-->
							<!--									          -->
							<!--									          <li class="dropdown-header">신청 내역</li>-->
							<!--									          <li><a class="dropdown-item" href="/Adopt/MemberAdoptWishList">나의 입양 신청</a></li>-->
							<!--									          <li><a class="dropdown-item" href="${pageContext.request.contextPath}/AddPet/PetAllList">나의 입소 신청</a></li>-->
							<!--									          -->
							<!--									          <li class="dropdown-header">고객 센터</li>-->
							<!--									          <li><a class="dropdown-item" href="/Ask/AskForm">1:1 문의하기</a></li>-->
							<!--									          <li><a class="dropdown-item" href="/Ask/AskList">나의 문의내역</a></li>-->
							<!--									        </ul>-->
							<!--								    </li>-->
							<!--								    </c:if>-->
							<!--								</c:if>-->
						</ul>
					</div><!-- /.navbar-collapse -->

				</div>
			</div><!-- /.container-fluid -->
		</nav>

		<section id="nino-slider" class="carousel slide container" data-ride="carousel">

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<h2 class="nino-sectionHeading">
						<span class="nino-subHeading">안락사 없는 보호센터</span>
						Together
					</h2>
					<h3 class="nino-sub">새로운 주인을 만날 수 있도록 돕고 따뜻한 보금자리 역할을 하고 있습니다.</h3>
					<br>
					<a href="#nino-story" class="nino-btn">Together 소개</a>
				</div>
				<div class="item">
					<h2 class="nino-sectionHeading">
						<span class="nino-subHeading">입양하기</span>

					</h2>
					<h3 class="nino-sub">사지말고 입양하세요.</h3>
					<br>
					<p>펫숍 쇼윈도에 진열된 동물의 이면에는 또 다른 생명의 고통이 있을 수 있습니다.<br>
						입양은 가장 신천적인 동물구호 활동입니다. 가족을 기다리는 동물들, 사지말고 입양하세요.</p>
					<br>
					<a href="#" class="nino-btn">입양 공고 리스트</a>
				</div>
				<div class="item">
					<h2 class="nino-sectionHeading">
						<span class="nino-subHeading">입양 후기</span>
					</h2>
					<h3 class="nino-sub">입양 후기를 보실 수 있습니다.</h3>
					<br>
					<p>
						Together를 통해 입양하신 분들은 누구나! 입양 후기를 올려주세요.
						<br>가족이 되어 즐겁게 지내시는 모습, 입양 전후 사진, 특이한 버릇, 입양 후 가장 좋은 점 등을
						<br>작성해주시면 입양을 망설이시거나 고민하시는 분들께 좋은 선물이 될 수 있습니다.
					</p>
					<br>
					<a href="#" class="nino-btn">입양 후기 게시판</a>
				</div>
				<div class="item">
					<h2 class="nino-sectionHeading">
						<span class="nino-subHeading">무료 온라인 입소신청</span>
					</h2>
					<h3 class="nino-sub">무료 입소</h3>
					<br>
					<p>Together는 사회적 공헌에 이바지함을 목적하여 무료 입소 제도를 도입 운영하게 되었습니다.
						<br>간편하게 온라인으로 입소 신청을 해보세요!
					</p>
					<br>
					<a href="#" class="nino-btn">온라인 입소 신청</a>
				</div>
			</div>

			<!-- Indicators -->
			<ol class="carousel-indicators clearfix">
				<li data-target="#nino-slider" data-slide-to="0" class="active">
					<div class="inner">
						<span class="number">01</span> Together 소개
					</div>
				</li>
				<li data-target="#nino-slider" data-slide-to="1">
					<div class="inner">
						<span class="number">02</span> 입양 공고
					</div>
				</li>
				<li data-target="#nino-slider" data-slide-to="2">
					<div class="inner">
						<span class="number">03</span> 입양 후기
					</div>
				</li>
				<li data-target="#nino-slider" data-slide-to="3">
					<div class="inner">
						<span class="number">04</span> 입소 신청
					</div>
				</li>
			</ol>
		</section>
	</div>
</header>
<!--/#header-->

</html>